 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body {
     font-family: 'Catamaran';
     min-height: 100vh;
 }
 
 .container {
     position: relative;
 }
 
 .Header {
     position: relative;
     top: 0;
     left: 0;
     width: 100%;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-right: 40px;
     padding-left: 40px;
     background-color: #053B50;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 100;
 }
 
 .Logo {
     width: 110px;
     height: 50px;
 }
 
 .navbar a {
     font-size: 16px;
     color: #fff;
     font-weight: 500;
     text-decoration: none;
     margin-left: 40px;
 }
 
 .navbar a:hover {
     color: #176B87;
     transition: .3s;
 }
 
 .Search {
     width: 200px;
     height: 27px;
     padding-left: 5px;
     background-color: #fff;
     color: #000;
     border: #64CCC5 solid 2px;
     border-radius: 20px;
 }
 
 .Login-bt {
     width: 150px;
     height: 27px;
     border: solid 2px #64CCC5;
     background-color: #053B50;
     color: #64CCC5;
     border-radius: 20px;
     text-decoration: none;
 }
 
 .Login-bt:hover {
     color: #000;
     border-radius: 20px;
     border: solid 2px #64CCC5;
     background-color: #64CCC5;
     transition: .5s;
 }
 /* Content */
 
 .container-img {
     padding: 15px;
     position: relative;
     text-align: center;
     color: rgb(255, 255, 255);
 }
 
 .centered {
     font-size: 6vw;
     font-weight: bold;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }
 
 .container-img img {
     width: 85%;
     height: 45vh;
     opacity: 0.7;
     border-radius: 55px;
 }
 
 .container-info {
     margin: auto;
     background-color: #EEEEEE;
     padding: 15px;
     border-radius: 35px;
     width: 85%;
     height: 85%;
     position: relative;
     text-align: center;
 }
 
 .tombol-genre {
     margin: auto;
     text-align: center;
     width: 85%;
     height: 85%;
     padding: 50px;
 }
 
 .tombol-genre img {
     margin: 20px;
     width: 20%;
     height: auto;
 }
 
 .isinya {
     padding-top: 20px;
     overflow: auto;
     width: 90%;
     margin: auto;
     border-top: #053B50 solid 10px;
     line-gap-override: 25%;
 }
 
 .isinya a {
     text-decoration: none;
     color: #176B87;
 }
 
 .isi-kiri {
     display: inline-block;
     width: 60%;
 }
 
 .isi-kanan {
     display: inline-block;
     width: 30%;
 }
 
 .isinya-kiri {
     font-size: 20px;
     padding: 2%;
     background-color: #EEEEEE;
     width: 80%;
 }
 
 .isinya-kanan {
     font-size: 20px;
     padding: 2%;
     background-color: #EEEEEE;
     width: 132%;
 }
 
 .container-footer {
     max-width: 1170px;
     margin: auto;
 }
 
 .logo-footer {
     position: absolute;
     bottom: 0;
     left: 0;
 }
 
 .logo-footer img {
     width: 20%;
     height: 20%;
 }
 
 .row {
     display: flex;
     flex-wrap: wrap;
 }
 
 ul {
     list-style: none;
 }
 
 .footer {
     background-color: #053B50;
     padding: 60px;
     margin-top: 40px;
 }
 
 .footer-col {
     padding-left: 100px;
     width: 33%;
 }
 
 .footer-col h4 {
     font-size: 15px;
     color: #fff;
     text-transform: capitalize;
     margin-bottom: 30px;
     font-weight: 500;
     position: relative;
 }
 
 .footer-col h4::before {
     content: '';
     position: absolute;
     left: 0;
     bottom: -10px;
     background-color: #64CCC5;
     height: 2px;
     box-sizing: border-box;
     width: 100px;
 }
 
 .footer-col ul li:not(:last-child) {
     margin-bottom: 10px;
 }
 
 .footer-col ul p {
     padding-right: 30px;
     font-size: 13px;
     text-decoration: none;
     color: #fff;
     font-weight: 300;
     display: block;
 }
 
 .footer-col ul li a {
     font-size: 13px;
     text-decoration: none;
     color: #fff;
     font-weight: 300;
     display: block;
     transition: all 0.3s ease;
 }
 
 .footer-col ul li a:hover {
     color: #EEEEEE;
     padding-left: 10px;
 }
 
 .footer-col .social-links a {
     display: inline-block;
     height: 40px;
     width: 40px;
     text-align: center;
     line-height: 40px;
     color: #fff;
     background-color: #176B87;
     border-radius: 50%;
     transition: all 0.3s ease;
 }
 
 .footer-col .social-links a:hover {
     background-color: #64CCC5;
     padding-left: 3px;
 }
 
 .copyright {
     padding-right: 5px;
     position: absolute;
     bottom: 0;
     right: 0;
     color: #fff;
     font-size: 12px;
 }